 @import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Poppins:wght@200;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif;

}

@layer base {
    @font-face {
      font-family: agustina ;
      font-weight: 200;
      src: url(/font/Agustina-Signature.otf) format("opentype");
    }
 
    
    
  }

 
  